<header>
  <h1 class="main-header" #appTitle></h1>
</header>
<main class="main-block">
  <app-first></app-first>
  <app-products-list></app-products-list>
  <section class="cart">
    <h2 class="basket-title"> <img src="../assets/basket.png" alt="basket icon" class="basket-icon"> Basket </h2>
    <app-cart-list *ngIf="cartServise.basketItems.length; else emptyCart"></app-cart-list>
    <ng-template #emptyCart>
      <p class="empty-cart">The basket is empty.</p>
      <p class="empty-cart">Please add item to start shopping.</p>
    </ng-template>
  </section>
</main>

