<header class="shop-header">
  <div class="shop-title">
    <h1 class="main-header" #appTitle></h1>
  </div>
  <div class="shop-navigation">
    <button class="shop-navigation__btn about" routerLink="./about" routerLinkActive="active">About us</button>
    <button class="shop-navigation__btn main" routerLink="./home" routerLinkActive="active">Main page</button>
    <button class="shop-navigation__btn admin" routerLink="./admin" routerLinkActive="active">Admin</button>
    <button class="shop-navigation__btn cart" routerLink="./cart" routerLinkActive="active">Cart</button>
    <button class="shop-navigation__btn orders" routerLink="./orders" routerLinkActive="active">Orders</button>
  </div>
  <div class="basket-block" routerLink="./cart">
    <img src="../assets/basket.png" alt="basket icon" class="basket-icon">
    <div class="basket-items" *ngIf="cartServise.basketItems.length">{{cartServise.basketItems.length}}</div>
  </div>
  <img src="../assets/login_icon.svg" alt="login icon" class="login-icon" routerLink="./login">
</header>
<router-outlet></router-outlet>
