:host {
    margin: 15px auto;
    display: flex;
}

.main-button {
    padding: 10px 50px;
    font-weight: bold;
    border: none;
    background-color: rgba(217, 30, 24, 1);
    color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.5);
    margin: auto;
}

.main-button:hover {
    background-color: rgba(150, 40, 27, 1);
    cursor: pointer;
}
