
<h2 class="basket-title"> <img src="../assets/basket.png" alt="basket icon" class="basket-icon"> Basket </h2>
<section class="cart-list" *ngIf="cartProducts?.length; else emptyCart">
    <div class="form-group">
        <select class="form-control" name="sorting" [(ngModel)]="sortOption">
            <option value="undefined" disabled hidden>Sort by...</option>
            <option *ngFor="let sortingProperty of sortingProperties"  [value]="sortingProperty" [selected]="sortOption == sortingProperty">{{sortingProperty | titlecase}}</option>
        </select>
        <img src="../../assets/up-arrow.svg" alt="" class="sorting-arrrows" *ngIf="!sortOrder" (click)="sortOrder = !sortOrder">
        <img src="../../assets/down-arrow.svg" alt="" class="sorting-arrrows" *ngIf="sortOrder" (click)="sortOrder = !sortOrder">
    </div>
    <app-cart-item *ngFor="let cartProduct of (cartProducts | orderBy : sortOption : sortOrder)" [product]="cartProduct" (remove)="onRemove($event)" (minus)="onReduce($event)" (plus)="onIncrease($event)"></app-cart-item>
    <div class="cart-item cart-total">
        <p class="cart-property cart-total-lable" colspan="2">Total</p>
        <p class="cart-property cart-total-qty">{{totalQty}}</p>
        <p class="cart-property cart-total-summ">{{totalSumm | currency}}</p>
    </div>
    <div class="buttons-container">
        <button class="cart-btn" (click)="onRemoveAll()">Clear basket</button>
        <app-main-button title="Continue shopping"></app-main-button>
        <button class="cart-btn" (click)="onMakeOrder()">Make order</button>
    </div>
</section>
<ng-template #emptyCart>
    <p class="empty-cart">The basket is empty.</p>
    <app-main-button></app-main-button>
</ng-template>
<app-back-button></app-back-button>
