<!-- <p class="about-component__block" appChangeColor="rgba(150, 40, 27, 1)">{{"About Component" | uppercase}}</p> -->
<h2 class="about-header">WE ARE THE SPORTS SHOE SPECIALISTS</h2>
<p class="about-description">We support a wide range of sporting events and we have set up links with Health Professionals, Schools, Running, Walking and Triathlon Clubs in the Bay of Plenty.</p>
<img src="../../../../assets/cover-photo.webp" alt="poster photo" class="about-poster">
<h3>WHAT WE DO?</h3>
<ul class="about-list">
    <li>We provide a FREE video gait analysis service in store anytime, using the latest video gait analysis technology.</li>
    <li>We provide a 7 day fit guarantee so we make sure we fit you into the correct shoes.</li>
    <li>We provide FREE 15 minute Podiatry consultations in store every week.</li>
    <li>We have a Smiths customer loyalty program and we offer a 15% Super Gold discount for 65+ and a 15% discount for all students.</li>
    <li>We offer up to 40% off over 1,000 pairs of shoes every day of the year.</li>
</ul>
<h3>WE OFFER FREE DELIVERY </h3>
<p class="about-description">If you need running/walking/kids shoes we offer free delivery. Simply hit ORDER SHOES NOW below and enter what shoes you are looking for and we will be in touch. We will arrange delivery to your home and we provide a 7 day fit guarantee, in case you need to change the shoes. We accept payment online or over the phone. </p>
<app-main-button title="Order shoes now"></app-main-button>
