:host {
    width: 30%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px rgba(0,0,0,0.75) solid;
    box-shadow: 11px 3px 20px -2px rgba(0,0,0,0.82);
    overflow: hidden;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    text-align: center;
}

.item-details {
    display: flex;
    align-items: center;
}

.item-photo {
    width: 40%;
    height: auto;
}

.item-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 50px;
    margin-top: 30px;
}

.item-color {
    margin-bottom: 10px;
}

.item-price {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

:host app-button ::ng-deep .buy-button {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.product-buy-button {
    width: 100%;
}

.item-not-available {
    margin-bottom: auto;
}
